/* "Tom MacDonald" */
#title {
    font-family: 'Kalam';
    color: teal;
    background-color: tan;
    height: 50px;
    padding: 30px 20px;
    font-size: 120%;
    /* text-shadow: 5px 5px black; */ 
    font: bold;
}
#title1 {
    font-size: 1.5rem;
    font-family: 'Kalam';
    text-align: center;
    letter-spacing: 3px;
    background-color: tan;
    color: teal;
}

body {
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    font-size: 1.5rem;
    color: black;
    font-family: 'Caveat', cursive;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
}

#videoText {
    font-size: 50px;
    color: red;
}
#contact {
    font-size: 30px;
}
#info {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: aquamarine;
    font-size: 30px;
}
#skull1 {
    width: 20%;
    border: 2px solid black;
    border-radius: 10px;
}
#skull2 {
    width: 20%;
    border: 2px solid black;
    border-radius: 10px;
}

/* palm springs */
.dropdown1 {
    position: relative;
    display: inline-block;
    /* distance between photos */
    margin: 0px 40px;
    padding: 40px;
    
}

.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /*dist between top to bottom photo */
    margin: 20px;
    
    
}

.dropdown1:hover .dropdown-content1 {
    display: block;
}

.desc1 {
    padding: 15px;
    text-align: center;
}

/* wallowa img */

.dropdown2 {
    position: relative;
    display: inline-block;
    /* left side of wallowa picture*/
    padding-left: 150px;
    
    
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /*dist between top to bottom photo */
    margin: 20px;
    
    
}

.dropdown2:hover .dropdown-content2 {
    display: block;
}

.desc2 {
    padding: 15px;
    text-align: center;
}
/* cannon beach */

.dropdown3 {
    position: relative;
    display: inline-block;
    
    
}

.dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /*dist between top to bottom photo */
    margin: 20px;
    
    
}

.dropdown3:hover .dropdown-content3 {
    display: block;
}

.desc3 {
    padding: 15px;
    text-align: center;
}